body{
  background-color: black;
  text-align: center;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
a{
  color: aquamarine;
  font-size: 16px;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  font-size: 21px;
}
.exc{
  text-align: right;
  color: gray;
}
